body{
    background-color: #f2f2f2;
    height: auto;
}
.conteiner{
    width: 85%;
    display: flex;
    margin: 0 auto;
    background-color: white;
    height: 200px;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.social{
    display: flex;
    flex-direction: row;
    height: auto;
    background-color: black;
    width: 100%;
}
.logo{
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: #0f0f0f;
    width: 100%;
    gap: 170px;
}
.nav{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: #161616;
    width: 100%;
    color: white;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.social-item{
    height: 100%;
    width: 50%;
    color: white;
    padding: 0 30px 0 30px;
    line-height: 60px;
}
.submissions{
    text-align: start;
    text-transform: uppercase;
}
.social-items{
    text-align: end;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: end;
    text-transform: uppercase;
}
i{
    margin-right: 10px;
}